{% load static %}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="icon" href="{% static 'epsilon/assets/img/favicons/logo.png' %}">

      <title>Subtopic Name - Course Name</title>

      <!-- Bootstrap core CSS -->
      <script src="{% static 'epsilon/assets/js/jquery-3.2.1.slim.min.js' %}"></script>
      <script src="{% static 'epsilon/assets/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'epsilon/assets/js/popper.min.js' %}"></script>
      <script src="{% static 'epsilon/assets/js/jquery-3.2.1.slim.min.js' %}"></script>
      <link rel="stylesheet" type="text/css" href="{% static 'epsilon/assets/css/bootstrap.css' %}">
    </head>

    <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
      <a class="navbar-brand" href="/epsilon/mdashboard"><img src="{% static 'epsilon/assets/img/index/mainname.png' %}" height=45px /></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

      <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="/epsilon/mdashboard">Dashboard <span class="sr-only" style="color:#3d3d3d">(current)</span></a>
              </li>
          </ul>
          <ul class="nav justify-content-end">
              <li class="nav-item">
                  <a class="nav-link" href="/epsilon/profile">Profile</a>
              </li>
          </ul>
      </div>
      </div>
  </nav>

        <div class="jumbotron" style="color: #2c2828;background: #d0e8f0">
          <div class="row">
          <div class="col-lg-7 offset-lg-1">
          <h1 class="display-3" style="color: #2c2828;">Subtopic Name</h1><br><h3>Course Name</h3><hr>
          <p class="lead">Edit the Quiz questions below.</p>
          </div>

          <div class="col-lg-3">
               <div class="list-group">
                <a href="/epsilon/edittopic" class="list-group-item list-group-item-action flex-column align-items-start active">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Back to the Subtopic</h5>
                  </div>
                  <p class="mb-1">Manage the course material for this quiz.</p>
                </a>
                <a href="" class="list-group-item list-group-item-action flex-column align-items-start" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Add New Questions</h5>
                  </div>
                  <p class="mb-1">Add New Questions to this section.</p>
                </a>
                </div>
          </div>
        </div>

        </div>

        <div class="row"><div class="col-lg-8 offset-lg-2">
        <div id="accordion">
                      <div id="collapseOne" class="collapse hide" aria-labelledby="headingOne" data-parent="#accordion">
                      <br>

                                            <div id="accordioninside">

                                              <div class="row"><div class="col-lg-3 offset-lg-4">
                                                      <h5 class="mb-0">
                                                        <button style="width:350px" class="btn btn-secondry" data-toggle="collapse" data-target="#collapseOneinside" aria-expanded="false" aria-controls="collapseOneinside">
                                                          <h5>Multiple Choice Question</h5>
                                                        </button><br>
                                                      </h5>
                                                </div></div>

                                                    <div id="collapseOneinside" class="collapse" aria-labelledby="headingOneinside" data-parent="#accordioninside">

                                                                 <form>
                                                                   <fieldset>

                                                                     <div class="form-group">
                                                                      <label class="col-form-label" for="inputDefault"></label>
                                                                      <input type="text" class="form-control" placeholder="What is the Question?" id="inputDefault0"><br>
                                                                              <div class="row"><div class="col-lg-6">
                                                                                <input type="text" class="form-control" placeholder="Option 1" id="inputDefault1"></br>
                                                                                <input type="text" class="form-control" placeholder="Option 2" id="inputDefault2"></br>
                                                                                <input type="text" class="form-control" placeholder="Option 3" id="inputDefault3"></br>
                                                                                <input type="text" class="form-control" placeholder="Option 4" id="inputDefault4"></br>
                                                                              </div></div>
                                                                      </div>

                                                                        <button type="submit" class="btn btn-primary">Add Question</button>

                                                                   </fieldset>
                                                                 </form>

                                                    </div>
                                                  </div>

                                                  <div class="row"><p></p></div>
                                                  <div class="row"><div class="col-lg-3 offset-lg-4">
                                                      <h5 class="mb-0">
                                                        <button style="width:350px" class="btn collapsed btn-secondry" data-toggle="collapse" data-target="#collapseTwoinside" aria-expanded="false" aria-controls="collapseTwoinside">
                                                          <h5>Single Answer Question</h5>
                                                        </button>
                                                      </h5>
                                                    </div></div>

                                                    <div id="collapseTwoinside" class="collapse" aria-labelledby="headingTwoinside" data-parent="#accordioninside">


                                                        <form>
                                                          <fieldset>

                                                            <div class="form-group">
                                                             <label class="col-form-label" for="inputDefault"></label>
                                                             <input type="text" class="form-control" placeholder="What is the Question?" id="inputDefault5"><br>
                                                                     <div class="row"><div class="col-lg-6">
                                                                       <input type="text" class="form-control" placeholder="Enter Correct Answer (Single Word)" id="inputDefault6"></br>
                                                                     </div></div>
                                                             </div>

                                                               <button type="submit" class="btn btn-primary">Add Question</button>

                                                          </fieldset>
                                                        </form>

                                                    </div>

                                            </div>

                </div>
        </div>
      </div></div>

        <div class="row"><div class="col-lg-10 offset-lg-1">

        <div class="jumbotron" id="subtopics" style="background:white">

            <div class="container" style="height:10%"><center><h3>Questions in this Quiz</h3></center><br><br></div>

          <div class="row">

            <div class="col-lg-4" style="padding-top:20px">
            <div class="list-group">
              <a href="" class="list-group-item list-group-item-action flex-column align-items-start" style="height:25vh">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Why did the chicken die?</h5>
                  <button type="button" class="btn btn-danger">Delete</button>
                </div>
                  <small><p class="mb-1">

                    <fieldset class="form-group">
                                        <div class="form-check">
                                          <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" disabled="" checked="">
                                           It got Stuck in its own trap.
                                          </label>
                                        </div><br>
                                        <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2" disabled="">
                                            There was a conspiracy of dark-chicken army.
                                          </label>
                                        </div><br>
                                        <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled="">
                                            Committed Suicide.
                                          </label>
                                        </div><br>
                                        <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios4" value="option4" disabled="">
                                            Arshad ate it.
                                          </label>
                                        </div>
                                      </fieldset>
                  </p></small>
              </a>
            </div></div><br>

            <div class="col-lg-4" style="padding-top:20px">
            <div class="list-group">
              <a href="" class="list-group-item list-group-item-action flex-column align-items-start" style="height:25vh">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Why did the chicken die?</h5>
                  <button type="button" class="btn btn-danger">Delete</button>
                </div>
                  <small><p class="mb-1">

                    <fieldset class="form-group">
                                        <div class="form-check">
                                          <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" disabled="" checked="">
                                           It got Stuck in its own trap.
                                          </label>
                                        </div><br>
                                        <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2" disabled="">
                                            There was a conspiracy of dark-chicken army.
                                          </label>
                                        </div><br>
                                        <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled="">
                                            Committed Suicide.
                                          </label>
                                        </div><br>
                                        <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios4" value="option4" disabled="">
                                            Arshad ate it.
                                          </label>
                                        </div>
                                      </fieldset>
                  </p></small>
              </a>
            </div></div><br>

            <div class="col-lg-4" style="padding-top:20px;">
            <div class="list-group">
              <a href="" class="list-group-item list-group-item-action flex-column align-items-start" style="height:25vh">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Why Gautam is so bad?</h5>
                  <button type="button" class="btn btn-danger">Delete</button>
                </div>
                  <small><p class="mb-1">

                    <fieldset class="form-group">
                                          <br>
                                          <input type="text" class="form-control" placeholder="correct Answer comes here" id="inputDefault" disabled="">
                    </fieldset>

                  </p></small>
              </a>
            </div></div><br>

            <div class="col-lg-4" style="padding-top:20px">
            <div class="list-group">
              <a href="" class="list-group-item list-group-item-action flex-column align-items-start" style="height:25vh">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Why did the chicken die?</h5>
                  <button type="button" class="btn btn-danger">Delete</button>
                </div>
                  <small><p class="mb-1">

                    <fieldset class="form-group">
                                        <div class="form-check">
                                          <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" disabled="" checked="">
                                           It got Stuck in its own trap.
                                          </label>
                                        </div><br>
                                        <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2" disabled="">
                                            There was a conspiracy of dark-chicken army.
                                          </label>
                                        </div><br>
                                        <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled="">
                                            Committed Suicide.
                                          </label>
                                        </div><br>
                                        <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios4" value="option4" disabled="">
                                            Arshad ate it.
                                          </label>
                                        </div>
                                      </fieldset>
                  </p></small>
              </a>
            </div></div><br>

          </div>

               </div></div>
      </div><br>
    </div></div>

  </div>

    <div class="container">
    <div class="row">
    <div class="col-lg-12"><hr style=" border: 2px solid #3d3d3d;">
    <ul class="list-unstyled">
      <li class="float-lg-right"><a href="#top">Back to top</a></li>
      <li><a href="/epsilon/about">About</a></li>
      <li><a href="https://github.com/gautamyadavs/IntelliStudy">Source | GitHub</a></li>
    </ul>
    <center><p>Made with <img src="{% static 'epsilon/assets/img/index/heart.png' %}" width=18px /> by <a href="/epsilon/about">Team Epsilon</a>.</p></center>
    </div>
    </div>

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="{% static '../../../../epsilon/assets/js/vendor/jquery-slim.min.js' %}"><\/script>')</script>
    </body>
  </html>
