{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'epsilon/assets/img/favicons/logo.png' %}">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <script src="{% static 'epsilon/assets/js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'epsilon/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'epsilon/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'epsilon/assets/js/jquery-3.2.1.slim.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'epsilon/assets/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'epsilon/assets/css/login.css' %}">
  </head>

  <body style="background:black">

      <nav class="navbar navbar-expand-lg navbar-black bg-black">
      <div class="container">
    <a class="navbar-brand" href="/epsilon"><img src="{% static 'epsilon/assets/img/index/mainnamewhite.png' %}" height=70px /></a>

      <h5 style="color:white">Student Login</h5>

      </div>
      </nav>

<div class="row">

<div class="col-lg-10 offset-lg-1"><hr width=100% style="border : solid white">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/epsilon/index">Home</a></li>
          <li class="breadcrumb-item">Login</li>
        </ol>
</div>
</div>

<center>  <div class="container">  <div class="row"><div class="col-lg-4 offset-lg-4">
      <main role="main">
              <div class="row"><p></p></div>
                <div class="row"><p></p></div>
                  <div class="row"><p></p></div>
                    <div class="row"><p></p></div>
                      <div class="row"><p></p></div>
                        <div class="row"><p></p></div>
                          <div class="row"><p></p></div>
        <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#signup">Sign Up</a>
              </li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade show active" id="login">

                            <div>

                              <form action="/epsilon/auth" method="post">
                                {% csrf_token %}
                                <fieldset>
                                <div class="row"><p></p></div>
                                  <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Enter email">

                                  </div>
                                  <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">

                                  </div>  <div class="row"><p></p></div>  <div class="row"><p></p></div>
                                  <button type="submit" class="btn btn-primary ">Submit</button>
                                </fieldset>
                              </form>

                            </div>

              </div>
              <div class="tab-pane fade" id="signup">

                            <div>

                              <form action="/epsilon/dashboard" method="post">
                                {% csrf_token %}
                                <fieldset>
                                <div class="row"><p></p></div>
                                    <div class="form-group">
                                    <label class="col-form-label" for="inputDefault">Name</label>
                                    <input type="text" class="form-control" placeholder="Enter your name" id="inputDefault">
                                    </div>
                                  <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Unique Email">
                                  </div>
                                  <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Strong Password">
                                  </div>
                                  <div class="form-group">
                                    <label for="exampleInputPassword2">Confirm Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Re-enter Password">
                                  </div>  <div class="row"><p></p></div>  <div class="row"><p></p></div>
                                  <button type="submit" class="btn btn-primary">Submit</button>
                                </fieldset>
                              </form>

                            </div>
              </div>
            </div>
      </main>  </div></div></div></center>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static '../../../../epsilon/assets/js/vendor/jquery-slim.min.js' %}"><\/script>')</script>
  </body>
</html>
