{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'epsilon/assets/img/favicons/logo.png' %}">

    <title>Manage Courses</title>

    <!-- Bootstrap core CSS -->
    <script src="{% static 'epsilon/assets/js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'epsilon/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'epsilon/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'epsilon/assets/js/jquery-3.2.1.slim.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'epsilon/assets/css/bootstrap.css' %}">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand" href="/epsilon/mdashboard"><img src="{% static 'epsilon/assets/img/index/mainname.png' %}" height=45px /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/epsilon/mdashboard">Dashboard <span class="sr-only" style="color:#3d3d3d">(current)</span></a>
            </li>
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/epsilon/profile">Profile</a>
            </li>
        </ul>
    </div>
    </div>
</nav>

      <div class="jumbotron" style="color: #2c2828;background: #d0e8f0">
        <div class="row"><div class="col-lg-8 offset-lg-2">
        <h1 class="display-3" style="color: #2c2828;">Manage your Courses</h1>
        <p class="lead">Manage all the courses where your role is as a mentor.</p>
      </div>
      <div class="col-lg-2">
      </div>
      </div>
      </div>


      <div class="row"><div class="col-lg-10 offset-lg-2">

      <div class="jumbotron" id="subtopics" style="background:white">
        <div class="row">
          <div class="col-lg-5">

            {% for c in courses %}
                  <div class="card bg-white text-white">
                    <img class="card-img" src="{% static 'epsilon/assets/img/Card.jpg' %}" alt="Card image">
                    <div class="card-img-overlay">
                      <h5 class="card-title">{{ c.name }}</h5>
                      <p class="card-text">{{ c.description }}</p>
                    </div>
                  </div><p></p>
              {% endfor %}
          </div>


        </div>
     </div>

  </div></div>

  <br><br>

  <div class="container">
  <div class="row">
  <div class="col-lg-12"><hr style=" border: 2px solid #3d3d3d;">
  <ul class="list-unstyled">
    <li class="float-lg-right"><a href="#top">Back to top</a></li>
    <li><a href="/epsilon/about">About</a></li>
    <li><a href="https://github.com/gautamyadavs/IntelliStudy">Source | GitHub</a></li>
  </ul>
  <center><p>Made with <img src="{% static 'epsilon/assets/img/index/heart.png' %}" width=18px /> by <a href="/epsilon/about">Team Epsilon</a>.</p></center>
  </div>
  </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static '../../../../epsilon/assets/js/vendor/jquery-slim.min.js' %}"><\/script>')</script>
  </body>
</html>
