{% load static %}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="icon" href="{% static 'epsilon/assets/img/favicons/logo.png' %}">

      <title>Profile</title>

      <!-- Bootstrap core CSS -->
      <script src="{% static 'epsilon/assets/js/jquery-3.2.1.slim.min.js' %}"></script>
      <script src="{% static 'epsilon/assets/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'epsilon/assets/js/popper.min.js' %}"></script>
      <script src="{% static 'epsilon/assets/js/jquery-3.2.1.slim.min.js' %}"></script>
      <link rel="stylesheet" type="text/css" href="{% static 'epsilon/assets/css/bootstrap.css' %}">
    </head>

    <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
      <a class="navbar-brand" href="/epsilon"><img src="{% static 'epsilon/assets/img/index/mainname.png' %}" height=45px /></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

      <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="/epsilon/dashboard">Dashboard <span class="sr-only" style="color:#3d3d3d">(current)</span></a>
              </li>
          </ul>
          <ul class="nav justify-content-end">
              <li class="nav-item">
                  <a class="nav-link" href="/epsilon/mycourses">My Courses</a>
              </li>
          </ul>
      </div>
      </div>
  </nav>

        <div class="jumbotron" style="color: #ffffff;background: #d0e8f0">
          <div class="row">
          <div class="col-lg-6 offset-lg-1">


            <form>
              <fieldset>
                <div class="form-group">
                  <label class="col-form-label" for="inputDefault"><h4 style="color: #ffffff">Change your Username</h4></label>
                  <input style="background: #d0e8f0; font-size: 30px ;border: 5px solid white" type="text" class="form-control" placeholder="Arpit Jain" id="inputDefault">
                </div>

                <div class="form-group">
                <label for="exampleselect2"><h4 style="color: #ffffff">Job</h4></label>
                <select style="background: #d0e8f0; border: 5px solid white" class="custom-select" id="exampleselect2">
                    <option selected=""></option>
                    <option value="1">Engg.</option>
                    <option value="2">Doctor</option>
                    <option value="3">Scientist</option>
                </select>
                </div>

              <div class="form-group">
                <label for="exampleselect3"><h4 style="color: #ffffff">Qualification</h4></label>
                <select style="background: #d0e8f0; border: 5px solid white" class="custom-select" id="exampleselect3">
                    <option selected=""></option>
                    <option value="1">B.Tech.</option>
                    <option value="2">Shit Degree</option>
                    <option value="3">MS</option>
                </select>
              </div>

                <div class="form-group">
                  <label for="exampleInputPassword1"><h4 style="color: #ffffff">Password</h4></label>
                  <input style="color:white; background: #d0e8f0;border: 5px solid white" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter New Password">
                    <br>
                  <input style="color:white; background: #d0e8f0;border: 5px solid white" type="password" class="form-control" id="exampleInputPassword2" placeholder="Re-enter New Password">
                </div>

                <button type="submit" class="btn btn-secondary">Submit</button>
             </fieldset>
           </form>


          </div>

          <div class="col-lg-3 offset-lg-1">
              <img class="card-img-top" style="border-radius:600px ;width:300px; padding top:20px" src="{% static 'epsilon/assets/img/members/arpit.jpg' %}" alt="Card image cap">
              <div class="row"><div class="offset-lg-3"><p><br><h2><center style="color:white">Arpit Jain</center></h2></p></div></div>
              <div class="form-group">
                <button class="btn btn-secondary">
                <label for="exampleInputFile"><h5>Change Profile Picture</h5></label>
                <center><input style="color:#d0e8f0; display:none" type="file" class="form-control-file btn btn-sm btn-secondary" id="exampleInputFile" aria-describedby="fileHelp"></center></button>
              </div>
          </div>
        </div>

      </div>  <div class="row"><p><br><br><br><br></p></div>


      <div class="container">
      <div class="row">
      <div class="col-lg-12"><hr style=" border: 2px solid #3d3d3d;">
      <ul class="list-unstyled">
        <li class="float-lg-right"><a href="#top">Back to top</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="https://github.com/gautamyadavs/IntelliStudy">Source | GitHub</a></li>
      </ul>
      <center><p style="color:#3d3d3d;">Made with <img src="{% static 'epsilon/assets/img/index/heart.png' %}" width=18px /> by <a href="about.html#members">Team Epsilon</a>.</p></center>
      </div>
      </div>



      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="{% static '../../../../epsilon/assets/js/vendor/jquery-slim.min.js' %}"><\/script>')</script>
    </body>
  </html>
