<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="assets/img/favicons/logo.png">

    <title>About</title>

    <!-- Bootstrap core CSS -->
    <script src="assets/js/jquery-3.2.1.slim.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/jquery-3.2.1.slim.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <a class="navbar-brand" href="#"><img src="assets/img/index/mainname.png" height=45px /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="index.html#features">Features</a>
            </li>
        </ul>
    </div>
    </div>
  </nav>

      <div class="jumbotron" style="color: #2c2828; background: white">
        <div class="row">
        <div class="col-lg-8 offset-lg-2">
        <h1 class="display-3" style="color: #2c2828; text-transform: capitalize;">What is IntelliStudy?</h1>
        <p class="lead">It is an Artificial Intelligent system to identify the level of understanding and provide learning as per the requirements of the student.</p>
        <hr class="my-4">
        <p><ul><li>IntelliStudy uses artificial intelligence to make the educational experience easier, better and more effective. A system that takes care of the needs of different students differently through the application of greater levels of individualized learning. <li>By providing an interface to students and mentors which enables them to subscribe, build up their profile, access the content of various courses (from kindergarten to graduate schools), attempt quizzes, review progress, browse career paths, group chat in case of any queries, post problems in the discussion forums as well as respond to them, provide feedbacks which is essential for the evaluation of the system and improving the content.<li> The mentors can use the same interface for checking the feedback and updating the course material accordingly. The mentors can solve the problems of the students and give their expertise in the discussion forums which is an important aspect.</p></ul>
        </div>

      </div>

      <div class="row" ><p><br></p></div>

      <div class="row" id="members">
      <div class="col-lg-8 offset-lg-2">
      <h1 class="display-3" style="color: #2c2828; text-transform: capitalize;">Our Team</h1>
      <hr class="my-4">
              <div class="card-group">
                  <div class="card"  style="border:0px">
                    <img class="card-img-top" src="assets/img/members/arpit.jpg" alt="Card image cap" style="border-radius:600px; width:250px">
                    <div class="card-body">
                      <h5 class="card-title">Arpit Jain</h5>
                      <p class="card-text">Front-End Developer</p>
                    </div>
                  </div>
                  <div class="card"  style="border:0px">
                    <img class="card-img-top" src="assets/img/members/gaurav.jpg" alt="Card image cap" style="border-radius:600px; width:250px">
                    <div class="card-body">
                      <h5 class="card-title">Gaurav Nayak</h5>
                      <p class="card-text">Front-End Developer</p>
                    </div>
                  </div>
                  <div class="card"  style="border:0px">
                    <img class="card-img-top" src="assets/img/members/ankita.jpg" alt="Card image cap" style="border-radius:600px; width:250px">
                    <div class="card-body">
                      <h5 class="card-title">Ankita Makker</h5>
                      <p class="card-text">Backend Developer</p>
                    </div>
                  </div>
                </div>
      </div>
      </div>

      <div class="row"><p><br></p></div>

      <div class="row">
      <div class="col-lg-8 offset-lg-2">
              <div class="card-group">
                  <div class="card"  style="border:0px">
                    <img class="card-img-top" src="assets/img/members/arshad.jpg" alt="Card image cap" style="border-radius:600px; width:250px">
                    <div class="card-body">
                      <h5 class="card-title">Md. Arshad Siddiqui</h5>
                      <p class="card-text">Database</p>
                    </div>
                  </div>
                  <div class="card"  style="border:0px">
                    <img class="card-img-top" src="assets/img/members/Gautam.jpg" alt="Card image cap" style="border-radius:600px; width:250px ">
                    <div class="card-body">
                      <h5 class="card-title">Gautam Yadav</h5>
                      <p class="card-text">Back-End Developer</p>
                    </div>
                  </div>
                  <div class="card"  style="border:0px">
                    <img class="card-img-top" src="assets/img/members/naro.jpg" alt="Card image cap" style="border-radius:600px; width:250px ">
                    <div class="card-body">
                      <h5 class="card-title">Narosenla Longkumer</h5>
                      <p class="card-text">Back-end Developer</p>
                    </div>
                  </div>
                </div>
      </div>
      </div>

      </div>

      <div class="container">
      <div class="row">
      <div class="col-lg-12"><hr style=" border: 2px solid #3d3d3d;">
      <ul class="list-unstyled">
        <li class="float-lg-right"><a href="#top">Back to top</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="https://github.com/gautamyadavs/IntelliStudy">Source | GitHub</a></li>
        <li><a href="mentorlogin.html">Mentors</a></li>
        <li><a href="loginstudent.html">Students</a></li>
        <li><a href="loginadmin.html">Admin</a></li>
      </ul>
      <center><p>Made with <img src="assets/img/index/heart.png" width=18px /> by <a href="about.html#members">Team Epsilon</a>.</p></center>
      </div>
      </div>

  </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  </body>
</html>
